<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome User</h1>
    <p>This is a dummy mail sent to check action mailer works.</p>
    <%= image_tag attachments['test_image.png'].url, alt: 'Company Logo' %>
  </body>
</html>